* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --first-color: #0079ff;
  --second-color: #697c9a;
  --third-color: #4b6a9b;
  --fourth-color: #2b3442;
  --sixth-color: #f6f8ff;
  --seventh-color: #fefefe;
  --dark-one: #ffffff;
  --dark-two: #141d2f;
  --dark-three: #1e2a47;
  --result-color: #f74646;
  --first-hover: #60abff;
}
body {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  background-color: var(--sixth-color);
}
.main-div {
  max-width: 730px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 144px 0px 36px;
}

#darkMode {
  width: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.dark {
  color: var(--second-color);
}
input {
  background-color: var(--dark-one);
}
.input {
  width: 100%;
  height: 69px;
  border-radius: 15px;
  background-color: var(--seventh-color);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.search {
  margin: 23px 24px 22px 32px;
}

.searching-place {
  width: 640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#inp {
  width: 50%;
  border: none;
  cursor: pointer;
}
#noResults {
  width: 30%;
  color: var(--result-color);
  text-align: right;
  display: none;
}
#search {
  width: 106px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--first-color);
  color: var(--dark-one);
  border: none;
  cursor: pointer;
}
#search:hover {
  background-color: var(--first-hover);
}
#acc {
  max-width: 1440px;

  border-radius: 15px;
  background-color: var(--seventh-color);
  padding: 48px;
  display: none;
}
.avatar {
  width: 117px;
  margin-right: 38px;
}
.responsive-avatar {
  display: none;
}
.results {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}
#joinedDate {
  color: var(--second-color);
}

#bio {
  color: var(--third-color);
  margin-bottom: 32px;
}

.result-numbers {
  width: 100%;
  height: 85px;
  border-radius: 10px;
  background-color: var(--sixth-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.names {
  width: 100%;
  font-size: 13px;
  color: var(--third-color);
  display: flex;
  justify-content: space-between;
}
.numbers {
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
}
.social {
  width: 100%;
  color: var(--third-color);
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.soc-container {
  width: 240px;
}
.social-up {
  margin-bottom: 21px;
  display: flex;
}
.social-down {
  display: flex;
}
.soc-icon {
  margin-right: 16px;
}
#githubLink {
  width: 100%;
  cursor: pointer;
}
#githubLink:hover {
  text-decoration: underline;
}
body.dark-mode {
  background-color: var(--dark-two);
}
.header.dark-mode {
  color: var(--dark-one);
}
.dark.dark-mode {
  color: var(--dark-one);
}
.input.dark-mode {
  background-color: var(--dark-three);
}
#acc.dark-mode {
  background-color: var(--dark-three);
  color: var(--dark-one);
}
#joinedDate.dark-mode {
  color: var(--dark-one);
}
.result-numbers.dark-mode {
  background-color: var(--dark-two);
  color: var(--dark-one);
}
.social.dark-mode {
  color: var(--dark-one);
}

@media screen and (max-width: 750px) {
  .desctop-avatar {
    display: none;
  }
  .responsive-avatar {
    display: block;
  }
  #name {
    flex-direction: column;
  }
  #acc {
    justify-content: center;
  }
  .acc-up {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .main-div {
    width: 100%;
  }
  .header {
    margin-left: 32px;
  }
  #acc {
    width: 100%;
  }
  .acc-up {
    width: 100%;
  }
  h2 {
    font-size: 16px;
  }
  .avatar {
    width: 70px;
    height: 70px;
  }
  .responsive-avatar {
    width: 30%;
    .name {
      width: 70%;
    }
    .social {
      font-size: 13px;
    }
  }
  .social-up {
    flex-direction: column;
  }
  .social-down {
    flex-direction: column;
  }
}
